<!DOCTYPE html>
<html>
  <head>
    <title>Photogram Final</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav>
  <ul>
    <li><a href="/users">All users</a></li>
    <li><a href="/photos">All public photos</a></li>
    <% if current_user.present? %>
      <li><a href="/users/sign_out" data-method="delete" rel="nofollow">Sign out</a></li>
    <% else %>
      <li><a href="/users/sign_up">Sign up</a></li>
      <li><a href="/users/sign_in">Sign in</a></li>
    <% end %>
  </ul>
</nav>


<!-- Flash Messages -->
<% flash.each do |key, message| %>
  <div class="flash <%= key %>">
    <p><%= message %></p>
  </div>
<% end %>

<%= yield %>

  </body>
</html>
