<!DOCTYPE html>
<html>
  <head>
    <title>Photogram Final</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <a href="/users">All users</a>
        </li>
        <li>
          <a href="/photos">All public photos</a>
        </li>
        <nav>
          <% if current_user != nil%>
            <li>  <a href="/users/sign_out">Sign out</a>  </li>
            <li>  <a href="/users/edit">Edit profile</a>  </li>
          <% else %>
            <li>  <a href="/users/sign_up">Sign up</a>  </li>
            <li>  <a href="/users/sign_in">Sign in</a>  </li>
          <% end %>
        </nav>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>

'Sign in' to '/users/sign_in'
